<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="https://cdn.cloudbet.com/images/logo.png" alt="Cloudbet logo" class="br0 db mb0 w-100"/>
	</a>

    <ul class="pure-menu-list flex b grey-3">
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="pure-menu-item pure-menu-has-children">
          <a class="pure-menu-link" href="#">{{ .Pre }}{{ .Name }}</a>
          <ul class="pure-menu-children">
            {{ range .Children }}
            <li class="pure-menu-item">
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
      {{else}}
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
      {{end}}
        </li>
      {{end}}
    </ul>

</nav>
