{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.hero.image "title" .Params.hero.heading "subtitle" .Params.hero.subheading) }}

<div>
	<div class="bonus">
		<div>
			<span>{{.Params.offer.intro}}</span>
		</div>
		<div class="amount">
			<span>{{.Params.offer.reward}}</span> 
			<span>{{.Params.offer.description}}</span> 
		</div>
		<a class="sign-up" href="{{.Params.offer.link.url}}">
			<button>{{.Params.offer.link.text}}</button>
		</a>
	</div>
</div>

<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<div class="flex-ns mhn2-ns mb3">
		  {{ range .Params.features }}
		  <div class="ph2-ns w-50-ns">
		    <img src="{{.image}}" alt="" class="center db mb3" style="width: 240px">
		    <a href="{{.link.url}}">{{.link.text}}</a>
		  </div>
		  {{ end }}
		</div>
	</div>
</div>


{{ end }}
